*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# latex

*.bbl
*.bcf
*.blg
*.aux
*.run.xml
*.synctex.gz
*.toc
*.log
*.lof
*.lot

nbproject/
manifest.mf
#build.xml
src/best-practice/dist/
src/best-practice/build/
src/best-practice/out/

src/best-practice/.idea/*
src/best-practice/*.iml
workspace.xml
src/monolithic/out/
src/monolithic/.idea/
